<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/spacelab/bootstrap.min.css" />
  <link rel="stylesheet" href="../../static/app.css" />
  <title>Issue Tracking System</title>
</head>

<body>
  <div class="wrapper">
    <div class="container">
      {% include 'base/navigation.html' %}
    </div>

    <section id="header">
      <div class="container mt-3">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %}
        <section class="messages">
          {% for category,msg in messages %}
          <p id="alert" class="alert-{{category}} p-2">{{msg}}</p>
          {% endfor %}
        </section>
        {% endif %} {% endwith %} {% block header %} {% endblock %}
      </div>
    </section>

    <section id="main">
      <div class="container main-container">
        {% block main %} {% endblock %}
      </div>
    </section>
  </div>

  <section id="footer">
    <div class="container footer text-center">
      <p>© 2020 Joshua Lokken</p>
    </div>
  </section>

  <script type="text/javascript" src="../../static/app.js"></script>
</body>

</html>