<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand" href="/">ITS</a>
  <ul class="navbar-nav flex-row">
    <li class="nav-item active">
      <a class="nav-link" href="/">Home</a>
    </li>
    {% if current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="/issues/new">New Issue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    {% endif %}
  </ul>
</nav>
