<nav class="navbar navbar-dark bg-dark d-flex justify-content-between">
  <a class="navbar-brand" href="/">ITS</a>
  <!-- <form class="form-inline my-2 my-lg-0" id="search-form">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search Issues</button>
  </form> -->
  <ul class="navbar-nav flex-row">
    
    
    {% if current_user.role == 2 %}
    <li class="nav-item">
      <a class="nav-link" href="/users">Users</a>
    </li>
    {% endif %}
      
    {% if current_user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="/">Issues</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/issues/new">New Issue</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Logout</a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="/register">Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    
    {% endif %}
  </ul>
</nav>
