{% if issues %}

<table class="table table-sm table-bordered issue-list">
  <thead class="thead-light">
    <tr>
      <th>Issue ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Priority</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {% for issue in issues %}

    <tr class="">
      <td>{{ issue.id }}</td>
      <td><a href="/issues/{{ issue.id }}">{{ issue.title }}</a></td>
      <td>{{ issue.text }}</td>
      <td>{{ issue.status }}</td>
      <td>{{ issue.priority }}</td>
      <td>{{ issue.created_at }}</td>
    </tr>

    {% endfor %}

    <!-- <tr class="">
      <td>0001</td>
      <td>IT</td>
      <td>Printer jobs disappearing...</td>
      <td>Assigned</td>
      <td>Urgent</td>
      <td>Thursday, January 12th, 2008 11:40am</td>
    </tr>
    <tr class="">
      <td>0005</td>
      <td>Customer Complaint</td>
      <td>Product availability complaint</td>
      <td>Submitted</td>
      <td>Medium</td>
      <td>Friday, January 7th, 2004 15:30pm</td>
    </tr>
    <tr class="">
      <td>0006</td>
      <td>Product Request</td>
      <td>OWH Astralagus</td>
      <td>Submitted</td>
      <td>Medium</td>
      <td>Friday, January 7th, 2004 15:30pm</td>
    </tr>
    <tr class="">
      <td>0153</td>
      <td>Customer Complaint</td>
      <td>Fecal explosion in restroom</td>
      <td>Submitted</td>
      <td>High</td>
      <td>Friday, January 7th, 2004 15:30pm</td>
    </tr> -->
  </tbody>
</table>

{% endif %}