{% if issues %}

<div class="table-responsive">
  <table id="issue-list" class="table table-sm table-hover table-bordered issue-list tablesorter">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col">Priority</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
      </tr>
    </thead>
    <tbody>
      {% for issue in issues %}
      {% if issue.status == 2 %}
      <tr class="table-success">
        {% elif issue.priority == 3 %}
      <tr class="table-danger">
        {% elif issue.priority == 2 %}
      <tr class="table-warning">
        {% elif issue.priority == 0 %}
      <tr>
        {% else %}
      <tr class='table-primary'>
        {% endif %}
        <th scope="row">{{ issue.id }}</th>
        <td><a href="/issues/{{ issue.id }}">{{ issue.title }}</a></td>
        <td>{{ issue.text }}</td>
        <td>{{ issue.categories.category_label }}</td>
        <td>{{ issue.statuses.status_label }}</td>

        <td>{{ issue.priorities.priority_label }}</td>
        <td>{{ issue.created_at.replace(microsecond=0, tzinfo=None) }}</td>
        <td>{{ issue.updated_at.replace(microsecond=0, tzinfo=None) if issue.updated_at != None else 'None'}}</td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</div>

{% endif %}