html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.main-container {
  margin-top: 20px;
}

.issue-list {
  table-layout: auto;
  cursor: pointer;
}

.issue-list a {
  text-decoration: none;
  font-weight: bold;
}

.footer {
  flex-shrink: 0;
}

li.nav-item {
  margin: 0 5px;
  padding: 0 5px;
}

.jumbotron {
  background-image: url('./images/jumbotron-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.index-illustration {
  max-height: 400px;
}
