
.main-container {
  margin-top: 20px;
}

.wrapper {
  min-height: 100vh;
  margin-bottom: -50px;
}

.issue-list {
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
}

#footer {
  height: 50px;
}

li.nav-item {
  margin: 0 5px;
  padding: 0 5px;
}

.jumbotron {
  background-image: url('./images/jumbotron-bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}