<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/app.css" />
    <title>Issue Tracking System</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark justify-content-space-between">
        <a href="/">ITS</a>
        <ul></ul>
      </nav>
    </div>

    <section id="header">
      <div class="container">
        {% block header %} {% endblock %}
      </div>
    </section>

    <section id="main">
      <div class="container">
        {% block main %} {% endblock %}
      </div>
    </section>

    <section id="footer" class="text-center">
      <div class="container">
        <p>© 2020 Joshua Lokken</p>
      </div>
    </section>
  </body>
</html>
