<table class="table-striped table-bordered issue-list">
  <tr>
    <th>Issue ID</th>
    <th>Issue Type</th>
    <th>Description</th>
    <th>Status</th>
    <th>Priority</th>
    <th>Created</th>
  </tr>
  <tr class="bg-info">
    <td>0001</td>
    <td>IT</td>
    <td>Printer jobs disappearing...</td>
    <td>Assigned</td>
    <td>Normal</td>
    <td>Thursday, January 12th, 2008 11:40am</td>
  </tr>
  <tr class="bg-secondary">
    <td>0005</td>
    <td>Customer Complaint</td>
    <td>Product availability complaint</td>
    <td>Submitted</td>
    <td>Normal</td>
    <td>Friday, January 7th, 2004 15:30pm</td>
  </tr>
</table>
